<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3424A81F1F4E9CDC00C5548A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3424A8381F4E9CDC00C5548A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3424A8431F4E9CDC00C5548A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
